body {
    text-align: center;
    align-items: center;

}

/* Main menu Css */
.descibe{
    margin: 40px 10px;
    font-size: 20px;
    font-weight: 600;
}

.gm-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    align-items: center;

    margin: 5rem;
}

.gm-btn {
    background-color: #f7f5e3;
    height: 8vh;
    width: 20vw;

    border-radius: 5px;
    border:3px black;
    border-style: solid;    
    margin: 5px 5px;
    padding: 20px;

    font-size: 28px;
    font-weight: 800;
    text-decoration: none black;

    cursor: pointer;
}

.gm-btn:hover{
    border-color: blue;
    transform: scale(1.2);
}

/* All wordle general css */
.menu {

    position: absolute;
    top: 20px;
    left: 50px;
    padding: 10px;
    
    border-style: 3px solid black;
    border-radius: 0.25rem;
}

.menu a{    
    text-decoration: none black;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.wordblock {
    background-color: #f7f5e3;
    height: 5vh;
    width: 5vh;

    border-radius: 5px;
    border:3px black;
    border-style: solid;    
    margin: 5px 5px;
    padding: 20px;


    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: 800;

}

.attemptblock {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: center;
}

#attemptboard {
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.keyboard{
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyrow{
    display: flex;
    flex-direction: row;
}

.key{
    background-color: #a6a6a6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 2.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 5px 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

#enter{
    width: 4.5rem;
}

.filled-box{
    animation: popoutAnimation 0.5s forwards;
}

@keyframes popoutAnimation {
    0% {
        transform: scale(1);
    }

    50% {transform: scale(1.2);}

    100% {
        transform: scale(1);
    }
}

.hitbox, .presentbox, .missbox{
    border:3px white;
    border-style: solid;    
    animation: rotation 1s backwards;
}

.hitbox{
    background-color: #41c2ab;
}

.presentbox{
    background-color: #feeb73;
}

.missbox{
    background-color: #8d9aa1;
}

/* Animation */
@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(359deg);
    }
}


/* Task 4 Css */
.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10vw;
}

.attemptboard_main {
    margin: 20px;
    justify-content: center;
    display: block;
    flex-direction: column;
}

.attemptboard_sub{
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 8rem;
    top: 8rem;
    /* background-color: red; */
    height: 45vh;
    width: 20vw;
    /* color: red; */
}

.deactivate{
    display: none !important;
}